@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 4fr;
  grid-template-areas:
    "nav nav"
    "main main";
}

P {
  color: rgb(85, 85, 85);
}

/* TRANSITION */
a,
.btn {
  transition: all 300ms ease;
}

nav {
  /* background-color: blue; */
  grid-area: nav;
}
main {
  /* background-color: antiquewhite; */
  grid-area: main;
}

.navbar > a,
img {
  width: 60px;
  height: 60px;
  padding-top: 10px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar > .nav-link {
  list-style-type: none;
  display: flex;
}

.navbar > .nav-link > li,
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  padding-left: 10px;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.home {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
  align-items: center;
}

.left {
  margin-left: 50%;
}

.left > img {
  width: 300px;
  height: 310px;
  border-radius: 50%;
  background-color: #f5f5f5;
  object-fit: cover;
}

.right > * {
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin-right: 40%; */
  padding-right: 40%;
}
.right {
  width: 100%;
  /* background-color: blue; */
}
.right > p {
  font-size: 12px;
}

.right > p:nth-of-type(2) {
  font-size: 1.5rem;
  font-weight: 500px;
}

.right > h2 {
  font-size: 1rem;
}

.right > div > a > .btn {
  padding: 10px;
  margin: 10px 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}

.right > div > a > .bx {
  font-size: 30px;
  padding-left: 10px;
}

.right > div > a > .contact {
  background-color: black;
}
.right > div > a > .cv {
  color: blue;
}

.right > div > a > .contact {
  color: white;
}

.right > div > .btn > a:hover {
  text-decoration: none;
  text-underline-offset: 0;
  text-decoration-color: none;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hambuger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon > span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.hamburger-icon > span:nth-of-type(2) {
  width: 40px;
}

.menu-links {
  position: absolute;
  top: 10%;
  /* right: 0; */
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links > a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links > li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open > span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open > span:nth-of-type(2) {
  opacity: 0;
}

.hamburger-icon.open > span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon > span {
  transform: none;
}

.hamburger-icon > span {
  opacity: 1;
}

.hamburger-icon > span {
  transform: none;
}

/* About */
#about {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 4fr;
  grid-template-areas:
    "about-wrapper about-wrapper"
    "content content";
  padding: 0 50px;
}

.about-wrapper {
  margin-top: 20px;
  grid-area: about-wrapper;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-wrapper > p {
  font-size: 12px;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img contentText"
    "img contentText";
}

.content > img {
  grid-area: img;
  background-color: #f5f5f5;
  margin-left: 50px;
  margin-top: 50px;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.contentText {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-area: contentText;
  grid-template-areas:
    "empty1 empty1"
    "content1 content2"
    "content3 content3"
    "empty2 empty2";
}

.empty1 {
  grid-area: empty1;
}

.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}
.content3 {
  grid-area: content3;
  padding: 20px;
  margin-bottom: 30px;
}

.content3 > p {
  font-size: 12px;
}
.content1,
.content2 {
  border: 1px solid black;
  text-align: center;
  border-radius: 25px;
  margin: 0 20px;
  padding: 20px;
}

.content1 > p:nth-of-type(1),
.content2 > p:nth-of-type(1) {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.content1 > i,
.content2 > i {
  font-size: 1.5rem;
}

.empty2 {
  grid-area: empty2;
  text-align: end;
  padding-top: 40px;
}

.empty2 > a > i {
  font-size: 2rem;
}

/* Experience Section */

.experience {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    "item1 item1"
    "item2 item2"
    "item3 item3";
}

.item1 {
  grid-area: item1;
  /* background-color: blue; */
  text-align: center;
}
.item1 > p {
  padding-top: 30px;
  font-size: 12px;
}

.item2 {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-area: item2;
  /* background-color: aqua; */
  padding: 20px 100px;
  grid-template-areas: "experience1 experience2";
}

div.item2 > div.experience1 > p,
div.item2 > div.experience2 > p {
  font-size: 1.5rem;
  padding-top: 20px;
}

.experience1 {
  grid-area: experience1;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
}
.experience2 {
  grid-area: experience2;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
}

.item3 {
  grid-area: item3;
  /* background-color: bisque; */
  text-align: end;
}
div.item3 > a > i {
  font-size: 2rem;
  padding-top: 200px;
  padding-right: 50px;
}

.item2 > div.experience1 > div.cards,
.item2 > div.experience2 > div.cards {
  display: grid;
  height: 70%;
  padding: 0 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c2 c3 "
    "c4 c5 c6";
}

.c1 {
  grid-area: c1;
  /* background-color: blue; */
}
.c2 {
  grid-area: c2;
  /* background-color: yellow; */
}
.c3 {
  grid-area: c3;
  /* background-color: blue; */
}

.c4 {
  grid-area: c4;
  /* background-color: yellow; */
}

.c5 {
  grid-area: c5;
  /* background-color: blue; */
}
.c6 {
  grid-area: c6;
  /* background-color: yellow; */
}

.cards-items {
  display: flex;
  text-align: center;
}

.cards-items > .icon > i {
  align-items: center;
  text-align: center;
  padding: 25px 2px;
  margin-left: 20px;
  font-size: 1.5rem;
}

.text > h3 {
  padding-top: 25px;
  font-size: 13px;
  padding-left: 10px;
}

.text > p {
  font-size: 12px;
}

#projects {
  display: grid;
  padding: 0 70px;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 4fr;
  grid-template-areas:
    "project-head project-head project-head"
    "project1 project2 project3";
}

.project-head {
  background-color: blue;
  grid-area: project-head;
  justify-content: center;
  padding: 20px;
}
.project-head > p,
h1 {
  text-align: center;
}

.projects {
  display: grid;
  height: 75%;
  border: 1px solid black;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 150px;
  text-align: center;
  border-radius: 25px;
  margin: 0 20px;
}
.projects > div > img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  margin-top: 5px;
}

.project1 {
  /* background-color: bisque; */
  grid-area: project1;
}

.project2 {
  /* background-color: blanchedalmond; */
  grid-area: project1;
}

.project2 {
  /* background-color: blanchedalmond; */
  grid-area: project3;
}

div.projects > div > div > a > button {
  padding: 12px;
  border-radius: 25px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 30px;
}

div.projects > div > div > a > button:hover {
  background-color: black;
  color: white;
}

#projects > a > i {
  width: 100%;
  justify-content: end;
  background-color: blue;
  font-size: 25px;
  text-align: end;
  padding: 0;
}
